@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}

header {
  background-image: url("./assets/pattern-bg.png");
  background-repeat: no-repeat;
  height: 250px;
  margin-top: 0;
}

/* TYPOGRAPHY */

h1 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 25px;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: hsl(0, 0%, 17%);
}

p {
  font-size: 18px;
  font-weight: 400;
  color: hsl(0, 0%, 17%);
}

small {
  font-weight: 500;
  color: hsl(0, 0%, 59%);
}

/* DESKTOP VIEW */
@media (min-width: 1440px) {

}